name: Node.js CI
run-name: "{{git.actor}} is running this job"
on:  
  push: 
    branches: 
       - main 

jobs:
  test-job:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Node Modules 
        run: npm ci

      - name: Run Test Cases 
        run: npm run test

  build-job:
      needs: test-job
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install Node Modules 
        run: npm ci

      - name: Run Buld Job 
        run: npm run build

      - name: Upload Artifact 
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: build/ # or path/to/artifact

  deploy-job:
     needs: build-job 
     runs-on: ubuntu-latest
     steps:
            - name: Download Artifact
              uses: actions/download-artifact@v5
              with:
                name: my-artifact
                path: build
            - name: Display structure of downloaded files
              run: ls -R build      
               



  
